<div class='col-12 row mt-4'>
    <div *ngFor='let shirt of shirts' class='col-3'>
        <img [src]='shirt.image' [alt]='shirt.team' class="shirt-size img-thumbnail">
        <p *ngIf='shirt.stock==0' class="text-center text-uppercase mt-1 mb-1" role="alert"><span class="badge badge-danger">Sin stock</span></p>
        <h6 class='text-center mt-0 mb-0'>{{shirt.team}}</h6>
        <p class='text-center mb-0'>{{shirt.type}}</p>
        <p class='text-center mb-0'>Season <span class="font-weight-italic">{{shirt.season}}</span></p>
        
        <p class='text-center text-success'>{{shirt.price | currency}}</p>
    </div>
</div>