<div>
    <h5 class='text-center mt-4'>ABOUT US</h5>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt distinctio accusamus amet in, quis maiores totam? Nam laborum, accusantium reprehenderit harum culpa qui recusandae quas molestiae placeat eaque dolor deserunt.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit odio quaerat repudiandae voluptatibus nihil? Unde molestias explicabo nihil dignissimos obcaecati a aut cumque doloremque nulla nesciunt? Ab officiis in dolorem?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatum quisquam culpa adipisci officia, cumque dolores soluta id molestiae, ad aspernatur reiciendis velit officiis minima ea! Magnam dolorum ut ipsum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel at ea necessitatibus ad! Hic repellendus numquam placeat velit ullam deserunt recusandae rem cumque soluta qui. Vero neque saepe sequi eum.</p>

</div>
